In [ ]:
Question 1 - Generate "Bitcoin Prices"
1.0) Generate 365 random numbers [precision = 2 digits] between $5000.00 and $7999.99 (Bitcoin prices)

In [ ]:
1.1) Print the mean and the median of the generated bitcoin prices

In [ ]:
1.2) How many times was the bit coin price greater than or equal to $6,000

In [7]:
import random
rand = [round(random.uniform(5000.00, 7999.99), 2) for i in range(365)]

In [8]:
mean = sum(rand) / 365
mean

6495.9943835616405

In [9]:
median = sorted(rand)[182]
median

6501.54

In [10]:
from statistics import mean
mean = mean(rand)
mean

6495.994383561644

In [11]:
from statistics import median
median = median(rand)
median

6501.54

In [12]:
c = 0
for e in rand:
    if e >= 6000:
        c += 1
c

232

In [ ]:
Question 2 - Invest in Bitcoins
Write a function to - 
2.0) Start with $10,000 in Cash Wallet and 0 Units in Bitcoin Wallet
2.1) Day 1 - Buy $5,000 worth of Bitcoins
2.2) Day 2 - Do nothing
2.3) From Day 3 to Day 365
 - Sell: if price increased consecutively for the last two days,  sell 50% of [Bit Coin Wallet]
 - Buy:  if price reduced consecutively for the last two days, buy Bitcoins using 50% of [Cash wallet]
 - No Transaction: if prices have not varied as mentioned above

Store daily transactions in a "Results Data Frame"
 - Column names in Results Data frame = [Serial No, PRICE, CASH_WALLET, BITCOIN_WALLET, TRANSACTION, NET_WORTH]

In [ ]:
jayaram.akkinepally@verizon.com

In [114]:
price = rand
cash_wallet_1 = 10000 - 5000
cash_wallet_1
bitcoin_wallet_1 = 5000 / price[0]
bitcoin_wallet_2 = bitcoin_wallet_1
price[1]
cash_wallet_2 = cash_wallet_1
bitcoin_wallet_2 = bitcoin_wallet_1

In [115]:
cash_wallet = [cash_wallet_1, cash_wallet_2]
cash_wallet

[5000, 5000]

In [116]:
transaction = ['buy', None]
transaction

['buy', None]

In [117]:
bitcoin_wallet = [bitcoin_wallet_1, bitcoin_wallet_2]
bitcoin_wallet

[0.8789848779441598, 0.8789848779441598]

In [118]:
net_worth = [round(cash_wallet_1 + price[0]*bitcoin_wallet_1, 2), round(cash_wallet_2 + price[1]*bitcoin_wallet_2, 2)]
net_worth

[10000.0, 10198.6]

In [119]:
for i in range(2, 365):
    if price[i] > price[i-1] and price[i-1] > price[i-2]:
        transaction.append('sell')
        cash_wallet.append(round(cash_wallet[i-1] + price[i] * bitcoin_wallet[i-1] * 0.5, 2))
        bitcoin_wallet.append(bitcoin_wallet[i-1] - bitcoin_wallet[i-1] * 0.5)
        net_worth.append(round(cash_wallet[-1] +bitcoin_wallet[-1] * price[i], 2))
    elif price[i] < price[i-1] and price[i-1] < price[i-2]:
        transaction.append('buy')
        cash_wallet.append(round(cash_wallet[i-1] - cash_wallet[i-1] * 0.5, 2))
        bitcoin_wallet.append(bitcoin_wallet[i-1] + cash_wallet[i-1] * 0.5 / price[i])
        net_worth.append(round(cash_wallet[-1] +bitcoin_wallet[-1] * price[i], 2))
    else:
        transaction.append(None)
        cash_wallet.append(cash_wallet[-1])
        bitcoin_wallet.append(bitcoin_wallet[-1])
        net_worth.append(round(cash_wallet[-1] +bitcoin_wallet[-1] * price[i], 2))

In [120]:
import pandas as pd
Results_Data_Frame = pd.DataFrame({'serial_no':serial_no, 'price': price, 'cash_wallet': cash_wallet, \
              'bitcoin_wallet': bitcoin_wallet, 'transaction': transaction, 'net_worth': net_worth})
Results_Data_Frame

     serial_no    price  cash_wallet  bitcoin_wallet transaction  net_worth
0            1  5688.38      5000.00        0.878985         buy   10000.00
1            2  5914.32      5000.00        0.878985        None   10198.60
2            3  6499.83      7856.63        0.439492        sell   10713.26
3            4  5893.25      7856.63        0.439492        None   10446.67
4            5  5174.05      3928.32        1.198727         buy   10130.59
..         ...      ...          ...             ...         ...        ...
360        361  7089.43    192805.14       40.837375        None  482318.85
361        362  7788.88    351843.85       20.418688        sell  510882.56
362        363  6802.19    351843.85       20.418688        None  490735.64
363        364  5817.12    175921.92       50.660788         buy  470621.80
364        365  7390.76    175921.92       50.660788        None  550343.64

[365 rows x 6 columns]